<template name="eventOverlay">
	<div id="event-overlay" class="col-xs-12 overlay">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Event Name</th>
					<th>Points</th>	
					<th>Event Date</th>
					<th>Total Enrolled</th>
					<th>Enroll</th>
				</tr>
			</thead>
			<tbody>
				{{#each soonEvents}}
				<tr>
					<td>{{name}}</td>
					<td>{{points}}</td>
					<td>{{convertEventDate}}</td>
					<td>{{numberOfEnrolls}}</td>
					{{#if enrolled}}
					<td><button class="btn btn-primary enroll" id="{{_id}}">Dismiss</button></td>
					{{else}}
					<td><button class="btn btn-info enroll" id="{{_id}}">Enroll</button></td>
					{{/if}}
				</tr>
				{{/each}}
			</tbody>
		</table>

	</div>

</template>
