<template name="settings">
	<div  class="col-xs-12">
	<div class="row">
		<span class = "setting-head"><i class="fa fa-cogs setting-icon"></i>Settings</span>
		<hr>
			<div class="col-sm-offset-1 col-sm-4">
				<div class="form-group">
					<label for="user-name">Username</label>
					<div class="input-group" data-validate="uniqueUserName">
						<input type="text" class="form-control" name="user-name" id="user-name" placeholder="Enter a Unique Username!" required>
						<span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
					</div>
				</div>

				<div class="form-group">
					<label for="first-name">First Name</label>
					<div class="input-group">
						<input type="text" class="form-control" name="first-name" id="first-name" placeholder="Enter Your First Name!" required>
						<span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
					</div>
				</div>

				<div class="form-group">
					<label for="last-name">Last Name</label>
					<div class="input-group">
						<input type="text" class="form-control" name="last-name" id="last-name" placeholder="Enter Your Last Name!" required>
						<span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
					</div>
				</div>

				<div class="form-group">
					<label for="age">Age</label>
					<div class="input-group" data-validate="uniqueUserName">
						<input type="text" class="form-control" name="age" id="age" placeholder="Enter Your Last Name!" required>
					</div>
				</div>

				<div class="form-group">
					<label for="gender-type">Gender</label>
					<div class="input-group full-form">
						<select class="form-control" name="gender-type" id="gender-type" required>
							<option value="challenge">Male</option>
							<option value='event'>Female</option>
							<option value='event'>Other</option>
						</select>
					</div>
				</div>

				<div class="input-group datetimepicker ">
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					<input class="set-due-date form-control event-article" id="datetime" type="text"/>
				</div>

			</div>

			<div class="col-sm-offset-2 col-sm-4">
				<div class="form-group ">
					<label for="creation-selection">Select the Location</label>

					<div id="creation-selection" name="creation-selection"></div>	
				</div>

				<div class="form-group">
					<label for="longitude">Longitude</label>
					<div class="input-group" data-validate="number">
						<input type="text" class="form-control" name="longitude" id="longitude" placeholder="Longitude" required>
						<span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
					</div>
				</div>


				<div class="form-group">
					<label for="latitude">Latitude</label>
					<div class="input-group" data-validate="number">
						<input type="text" class="form-control" name="latitude" id="latitude" placeholder="Latitude" required>
						<span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
					</div>
				</div>

				<button class="btn btn-success full-form" id="submit">Create</button>

			</div>
	</div>
</div>
</template>