<template name="myEvents">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Event Name</th>
				<th>Points</th>	
				<th>Event Date</th>
				<th>Total Enrolled</th>
				<th>Dismiss</th>
				<th>Complete</th>
			</tr>
		</thead>
		<tbody>
			{{#each userEvents}}
				<tr>
					<td>{{name}}</td>
					<td>{{points}}</td>
					<td>{{convertEventDate}}</td>
					<td>{{numberOfEnrolls}}</td>
					<td><button class="btn btn-primary dismiss" id="{{_id}}">Dismiss</button></td>
					<td><button class="btn btn-success complete" id="{{_id}}">Complete</button></td>
				</tr>
			{{/each}}
		</tbody>
	</table>

</template>
