<template name="front">
<div class='box-lid-menu'>
	<div class='box-lid-icon'></div>
	<nav>
		<h4 class="nav-menu">Menu</h4>
		<ul class="lid-data">
			<li>
			<a title="Home" class="lid-navigation" data-navigation = "map" href="#">Home</a>
			</li>
			<li>
			<a title="My Challenges" class="lid-navigation" data-navigation = "myChallenges" href="#">My Challenges</a>
			</li>
			<li>
			<a title="My Events" class="lid-navigation" data-navigation = "myEvents" href="#">My Events</a>
			</li>
			<li>
			<a title="Moments of Glory" class="lid-navigation" data-navigation = "momentsOfGlory" href="#">Moments of Glory</a>
			</li> 
			<li>
			<a title="Inventory" class="lid-navigation" data-navigation = "inventory" href="#">Inventory</a>
			</li>
		</ul>
</nav> 
 </div>
<div class='box-lid'>
	<div class='box-lid-content'>
		<aside>
			{{> yield region='header'}}
		</aside>

		<div>
			{{> yield}}
		</div>


	</div>
</div>

</template>
